.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100px;
  background: #1c1c1c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  z-index: 10;
  transition: all 0.3s ease;
}

.logoDefault {
  width: 8rem;
  height: 8rem;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0.9;
  cursor: pointer;
}

.logoDefault:hover {
  transform: scale(1.1) rotate(3deg);
  opacity: 1;
}

/* Shared flex column centering */
.menu,
.menuItem,
.menuItem a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menuItem {
  width: 100%;
  padding: 9px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menuItem a {
  width: 80%;
  color: white;
  text-decoration: none;
}

.menuItem img {
  width: 20px;
  height: 20px;
  margin: 0;
}

.menuItem span {
  font-size: 10px;
  white-space: nowrap;
}

.active {
  background-color: #2e2e2e;
}

.menuItem:hover,
.toggleBtn:hover {
  background-color: #2e2e2e;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.menuItem:hover a {
  color: #f36a21;
}

.menuItem:hover img,
.toggleBtn:hover img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(94%) saturate(999%)
    hue-rotate(347deg) brightness(95%) contrast(95%);
  animation: pulse 0.6s ease-in-out;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.05);
  }
}
.toggleBtn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  padding: 1px;
  align-self: center;
  margin-top: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.toggleBtn img {
  width: 20px;
  height: 20px;
  margin: 0;
  transition: filter 0.3s ease;
}
.verticalOrangeButton {
  position: fixed;
  top: 40px;
  left: 100px;
  width: 14px;
  height: 100px;
  background-color: #f36a21;
  cursor: pointer;
  z-index: 9999;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  transition: left 0.3s ease;
}

.buttonExpanded {
  left: 760px; /* New position when panel opens */
}
